//Import Layout files
@import "./header";
@import "./main";
@import "./footer";

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 70vh 22vh;
  grid-template-areas:
    "top"
    "main"
    "footer";
}
