//Import Layout files
@import "./header";
@import "./main";

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 100vh 22vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
