//Import Layout files
@import "./header";
@import "./main";

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh 70vh 20vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
