// set the navbar align
header {
  height: 100%;
  width: 100%;
  border: 1px black solid;
  background-color: red;
  // hide the desktop navigation for mobile
  nav {
    display: flex;
    justify-content: space-between;
  }
  :first-child img {
    width: 60%;
    height: 100%;
  }
  :nth-child(2) {
    display: none;
  }
  // creating the lines
  .hamburger {
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    // controlling the size of the lines
    div {
      width: 2rem;
      height: 0.4rem;
      background-color: black;
      border-radius: 4px;
      border: 0.05rem black solid;
    }
  }
}
