main {
  grid-area: main;
  grid-template-rows: 5vh repeat(2, 60vh) 30vh;
  grid-template-areas:
    "banner"
    "the-road"
    "about"
    "adventure";
  // cover photo
  .banner {
    height: 30%;
    width: 100%;
    background-image: url(.././images/pawel-czerwinski-b7ibFp72VAg-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  //   Work experience
  article:nth-of-type(2) {
    grid-area: the-road;
    width: 100%;
    height: 80%;
    background-color: $mint;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    //  cards
    > div {
      display: flex;
      border: 2px solid $glow-white;
      border-radius: 1rem;
      box-shadow: 2px 3px 5px $milky-green;
      width: 25rem;
      padding: 0.3rem 0.5rem;
      margin: 1%;
      height: 7rem;
    }
    // all the even to the right
    div .circle {
      border-radius: 1rem;
      width: 18rem;
      height: 5rem;
      border: 1px $dark-mint solid;
      display: flex;
      // inside year
      .time-line {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
      }
    }
    // text
    p {
      margin: 1% 1%;
      padding: 0.4rem 0.5rem;
      border-radius: 1rem;
      border: 1px $dark-mint solid;
      height: 80%;
      text-align: justify;
    }
    p:hover {
      height: 90%;
      z-index: 1;
      background-color: $milky-green;
      box-shadow: 2px 3px 10px $deep-green;
    }
    :nth-child(even) {
      align-self: flex-end;
    }
  }
  //   about me section
  article:nth-child(3) {
    grid-area: about;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: $moss-green;
    // photo on the left
    .about-photo {
      width: 50%;
      height: 70%;
    }
    // text on the right from photo
    .about-main {
      width: 50%;
      height: 40%;
      align-self: center;
    }
  }
  article:nth-child(4) {
    grid-area: adventure;
    background-image: url();
    width: 92%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px red solid;
    padding: 2rem 1rem;

    div {
      width: 75%;
      height: 45%;
      border: 1px $dark-mint solid;
      border-radius: 5%;
      padding: 0.5% 1.5%;
      background-color: #94e1d2;

      p {
        width: 100%;
        height: 90%;
        border: 1px $mint solid;
        background-color: mintcream;
        border-radius: 5%;
        margin-top: 5%;
        text-align: center;
      }
    }
    div:nth-child(odd) {
      flex-direction: column;
      align-self: flex-end;
      height: 45%;
      border: 1px $dark-mint solid;
      padding: 0.5% 1.5%;
    }
  }
}
