.contact main {
  grid-area: main;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5f5da6;
  .head {
    width: 80%;
    height: 20%;
    align-self: center;
    margin-bottom: 2rem;
    border: 1px red solid;
    text-align: center;
  }
}
