@import "./header-portfolio.scss";
@import "./main-portfolio.scss";
@import "./footer-portfolio.scss";

.portfolio {
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 450vh 35vh;
  grid-template-areas:
    "top"
    "main"
    "footer";
}
