// Mixins

// @mixin name {
//   // your rules
// }
@mixin nav-header {
  ul {
    display: flex;
    width: 40rem;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    li {
      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: $milky-green;
      }
    }
  }
}
@mixin glow-border {
  display: flex;
  border: 2px solid $glow-white;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px $milky-green;
  padding: 0.3rem 0.5rem;
  margin: 1%;
}
