//Variables

// colors
$mint: #05f2c7db;
$dark-mint: #03a688cf;
$moss-green: #025949d9;
$deep-green: #01261fdb;
$space-black: #0d0d0dc4;
$glow-white: #dbfdffe9;
$milky-green: #91ede7e9;
// $my-color: orange;
// sizes

// others
