//Variables

// colors
$mint: #8dd5f2;
$dark-mint: #03a688cf;
$moss-green: #025949d9;
$deep-green: #01261fdb;
$space-black: #0d0d0dc4;
$glow-white: #dbfdffe9;
$milky-green: #91ede7e9;
// $my-color: orange;
// sizes

// others
$my-violet: #5f5da6;
/* Color Theme Swatches in Hex */
$Style-Guide-Colors-1-hex: #4d5459;
$Style-Guide-Colors-2-hex: #8dd5f2;
$Style-Guide-Colors-3-hex: #84aebf;
$Style-Guide-Colors-4-hex: #6d848c;
$Style-Guide-Colors-5-hex: #0d0d0d;

// new color pallet

/* Color Theme Swatches in Hex */
$white-blue: #d5e8ed;
$light-blue: #52aba6;
$gray-blue: #81c9c9;
$soft-white: #f7f6f5;
$light-gray: #575655;

/* Color Theme Swatches in RGBA */
// $Shades-of-Blues-and-Grays-1-rgba: rgba(213, 232, 237, 1);
// $Shades-of-Blues-and-Grays-2-rgba: rgba(82, 170, 166, 1);
// $Shades-of-Blues-and-Grays-3-rgba: rgba(128, 201, 201, 1);
// $Shades-of-Blues-and-Grays-4-rgba: rgba(247, 246, 244, 1);
// $Shades-of-Blues-and-Grays-5-rgba: rgba(86, 85, 84, 1);

/* Color Theme Swatches in HSLA */
// $Shades-of-Blues-and-Grays-1-hsla: hsla(192, 39, 88, 1);
// $Shades-of-Blues-and-Grays-2-hsla: hsla(177, 35, 49, 1);
// $Shades-of-Blues-and-Grays-3-hsla: hsla(180, 40, 64, 1);
// $Shades-of-Blues-and-Grays-4-hsla: hsla(29, 13, 96, 1);
// $Shades-of-Blues-and-Grays-5-hsla: hsla(29, 1, 33, 1);
