//Variables

// colors
$mint: #05f2c7;
$dark-mint: #03a688;
$moss-green: #025949;
$deep-green: #01261f;
$space-black: #0d0d0d;
$glow-white: #dbfdff;
$milky-green: #91ede7;
// $my-color: orange;
// sizes

// others
